div#angular-flat-calendar {
  display: inline-block;
  font-family: 'Quicksand', sans-serif;
  background: #1D1F2B;
}

div#angular-flat-calendar div#calendar-header {
  background: #1D1F2B;
  color: white;
  height: 40px;
  cursor: pointer;
  line-height: 40px;
  padding: 30px 25px 5px 25px;
}

div#angular-flat-calendar div#calendar-header-month-year-container {
  width: 80%;
  text-align: left;
  cursor: pointer;
  padding-left: 8px;
  font-weight: bold;
}

div#angular-flat-calendar div#calendar-header-month-year-container:hover,
div#angular-flat-calendar div#calendar-header-previous-month:hover,
div#angular-flat-calendar div#calendar-header-next-month:hover,
div#angular-flat-calendar div#calendar-header-today:hover {
  background: #2D2F3B;
}

div#angular-flat-calendar div#calendar-header-previous-month,
div#angular-flat-calendar div#calendar-header-next-month,
div#angular-flat-calendar div#calendar-header-today {
  width: 10%;
  text-align: center;
  color: white;
}

div#angular-flat-calendar div#calendar-days table tr td.calendar-day.disabled {
  color: #5D5D6F;
}

div#angular-flat-calendar div#calendar-days table tr td.calendar-day.disabled.selected {
  background: #999;
}

div#angular-flat-calendar tr.calendar-days-week td.calendar-day.calendar-day-today {
  color: #14DFCB;
  font-weight: bold;
}

div#angular-flat-calendar td {
  width: 50px;
  height: 50px;
  text-align: center;
}

div#angular-flat-calendar div#calendar-days {
  padding-bottom: 20px;
}

div#angular-flat-calendar div#calendar-days table {
  border-spacing: 0;
  width: 100%;
  border-collapse: collapse;
  display: table;
}

div#angular-flat-calendar div#calendar-days table tbody {
  display: grid;
}

div#angular-flat-calendar tr#calendar-days-weekdays-name {
  font-size: 12px;
  font-weight: 700;
  text-transform: uppercase;
  background: #1D1F2B;
  color: #14DFCB;
  padding: 0 20px;
}

div#angular-flat-calendar tr.calendar-days-week:nth-child(even) {
  background: #1D1F2B;
  padding: 0 20px;
}

div#angular-flat-calendar tr.calendar-days-week:nth-child(odd) {
  background: #1D1F2B;
  padding: 0 20px;
}

div#angular-flat-calendar tr.calendar-days-week td.calendar-day {
  border-radius: 50px;
  color: white;
  cursor: pointer;
}

div#angular-flat-calendar tr.calendar-days-week td.calendar-day:hover {
  background-color: #2B2B3F;
}

div#angular-flat-calendar tr.calendar-days-week td.calendar-day.selected {
  background-color: #14DFCB;
  color: white;
  border-radius: 50px;
}

div#angular-flat-calendar tr.calendar-days-week td.calendar-day a {
  line-height: 100%;
}

div#angular-flat-calendar tr.calendar-days-week td.calendar-day.has-events a {
  border-bottom: 2px solid red;
}
