<!DOCTYPE html5>
  <head>
    <meta charset="utf-8">
    <title>Angular Calendar Widget</title>
    <link href="css/style.css" rel="stylesheet" type="text/css">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.5/angular.min.js"></script>
    <script src="js/app.js"></script>
  </head>
  <body ng-app='calendarWidget' ng-controller='MainController'>
    <div id='calendar'>
      <div id='calendar-header' style='display: flex'>
        <div id='calendar-header-previous-month'>
          <a ng-click="shiftMonth(-1)"><</a>
        </div>
        <div id='calendar-header-month-year-container'>
          {{currentMonthName}} | {{currentYear}}
        </div>
        <div id='calendar-header-next-month'>
          <a ng-click="shiftMonth(1)">></a>
        </div>
      </div>
      <div id='calendar-days'>
        <table>
          <tr ng-repeat="week in weeks">
            <td ng-repeat="day in week">
              {{day}}
            </td>
          </tr>
        </table>
      </div>
    </div>
  </body>
</html>
